@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap");
:root {
  --primary: #ff900e;
  --secondary: #727272;
  --tertiary: #131313;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.wrapper {
  background: rgba(255, 144, 14, 0.1);
}
.primary-btn {
  width: 160px;
  height: 54px;
  color: #ffffff;
  background-color: #ff900e;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 20px;
  border: 0;
}
.container {
  padding: 0 20px;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.nav-section {
  padding-top: 20px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 80px;
}
nav > ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.card__text {
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  text-align: center;
}
.card-title {
  font-size: 3rem;
}
.card__image {
  height: 50%;
  width: 80%;
}

.card__image > img {
  width: 100%;
  height: 400px;
}

.features-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.features-container > div {
  flex: 1;
}
.team-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
}
.team-container div > img {
  width: 242px;
  height: 242px;
}
.feature-title {
  font-size: 2.5rem;
  margin: 12px 0;
}
.feature-desc {
  font-size: 1rem;
}
.primary-text {
  color: var(--primary);
}
.seconday-text {
  color: var(--secondary);
}
@media screen and (max-width: 870px) {
  nav > ul {
    gap: 15px;
  }
  .card-title {
    font-size: 2.2rem;
  }
  .card__text {
    width: 100%;
    padding: 30px;
  }
  .card__image {
    width: 100%;
  }
  .features-container {
    flex-direction: column-reverse;
  }
  .team-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .team-container div > img {
    width: 100%;
    height: 242px;
    object-fit: cover;
    object-position: top;
  }
}
